.container {
    margin-left: -15px;
    margin-right: -15px;
    overflow-y: hidden;
}

.itemcontainer {
    overflow-y: scroll;
    height: 82%;
}

.itemcontainer::-webkit-scrollbar {
    display: none;
}

.title {
    color: #ffffff;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.8;
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 15px;
}