.container {
    display: flex;
    flex-direction: row;
    background-color: #2a374a;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    transition: all 100ms ease-in-out;
}

.container:hover {
    display: flex;
    flex-direction: row;
    background-color: #303d50;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.foundational_container {
    display: flex;
    flex-direction: row;
    background-color: #303d68;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    transition: all 100ms ease-in-out;
}

.foundational_container:hover {
    display: flex;
    flex-direction: row;
    background-color: #384674;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.sel_container {
    display: flex;
    flex-direction: row;
    background-color: #39475e;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    transition: all 100ms ease-in-out;
}

.sel_container:hover {
    display: flex;
    flex-direction: row;
    background-color: #425068;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.sel_foundational_container {
    display: flex;
    flex-direction: row;
    background-color: #3c4975;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    transition: all 100ms ease-in-out;
}

.sel_foundational_container:hover {
    display: flex;
    flex-direction: row;
    background-color: #485580;
    padding: 10px;
    padding-left: 15px;
    margin-bottom: 2px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 13px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.code {
    margin-right: 5px;
    margin-top: 1px;
    width: 65px;
    opacity: 0.6;
    font-size: 12px;
}

.name {
    flex: 1;
    padding-right: 10px;
    opacity: 0.6;
}

.input {
    flex: 1;
    padding-right: 10px;
    opacity: 0.8;
    background-color: transparent;
    padding: 0px;
    margin-top: -3px;
    outline: none;
    border: none;
    color: #ffffff;
    margin-right: 10px;
}

.addbutton {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(80deg, #3d74b5, #5d42d3);
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

.addbutton:hover {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background: linear-gradient(80deg, #3d74b5, #5d42d3);
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    opacity: 0.8;
}