.visiblecontainer {
    z-index: 1;
    margin-top: 10px;
    background-color: transparent;
    font-size: 12px;
    color: #ffffff;
    border-radius: 8px;
    opacity: 1;
    height: 20px;
    text-align: right;
    transition: all 500ms ease-in-out;
}

.invisiblecontainer {
    z-index: 1;
    margin-top: 10px;
    background-color: transparent;
    font-size: 12px;
    color: #ffffff;
    border-radius: 8px;
    opacity: 0;
    height: 20px;
    text-align: right;
}