.body {
    background-color: #171e30;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.left_section {
    padding-right: 5.0vw;
    padding-left: 5.0vw;
    padding-top: 7vh;
}

.title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    font-size: 2.8em;
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

.middle_section {
    padding-right: 5.6vw;
    padding-left: 2px;
    padding-top: 13vh;
    width: 25vw;
}

.mid_title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
    padding: 3px;
    text-align: left;
}

.subtitle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #eeeeee;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 8px;
    margin-top: 22px;
    padding: 3px;
    text-align: left;
}

.right_section {
    padding-right: 5.6vw;
    padding-left: 0px;
    padding-top: 13vh;
    flex: 1;
}

.right_title {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    margin: 0px;
    padding: 3px;
    text-align: left;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}

.recentlist {
    margin-top: 30px;
    height: 235px;
    width: 30.3vw;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 8px;
}

/* width */
.recentlist::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
}

/* Track */
.recentlist::-webkit-scrollbar-track {
    background: #171E30;
    border-radius: 5px;
}

/* Handle */
.recentlist::-webkit-scrollbar-thumb {
    background: #4E5661;
    border-radius: 5px;
}

/* Handle on hover */
.recentlist::-webkit-scrollbar-thumb:hover {
    background: #5b636e;
    border-radius: 5px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    background-color: #2a374a;
    padding: 12px;
    padding-left: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
    margin-bottom: 3px;
    border-radius: 8px;
    color: #8f8f8f;
    font-size: 13px;
    width: 27vw;
    transition: all 100ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.error {
    color: #d17070;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
    padding-top: 7px;
    margin-bottom: 5px;
}